@media screen and (max-width: 768px) {

    * {
        max-width: 100%;
    }

    html {
        height: 100%;
    }


    .header {
        height: 50px;
    }

    .header-h1 {
        font-size: 1.5rem;
    }

    .header-h2 {
        font-size: 0.9rem;
    }

    .main {
        height: 100vh;
        display: block;
        padding: 120px 110px;
    }

    #mobile {
        margin-top: 100px;
    }

    .section-main:hover .sobreposicao {
        display: none;
    }

    .mobile-cliqueaqui {
        display: block;
        margin-left: 15px;
        animation: go-back 1s infinite alternate;
    }

    @keyframes go-back {
        from {
            transform: translateY(15px);
        }

        to {
            transform: translateY(0);
        }
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        width: 100%;
        background-color: #000;
        color: #fff;
        position: relative;
        margin-top: -130px;
    }

    .footer-img {
        width: 150px;
        max-width: 100%;
    }

    .direitos,
    .politica {
        font-size: 0.9rem;
        margin: 0 10px;
        text-align: center;
    }

}